include pygazpar/resources/hourly_data_sample.json
include pygazpar/resources/daily_data_sample.json
include pygazpar/resources/weekly_data_sample.json
include pygazpar/resources/monthly_data_sample.json
